<footer>
  <div class="footer-content">
    <p>&copy; 2025 MonSiteWebEpitech. Tous droits r&eacute;serv&eacute;s.</p>
    <nav>
      <ul>
        <li><a href="#">Mentions l&eacute;gales</a></li>
        <li><a href="#">Politique de confidentialit&eacute;</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Plan du site</a></li>
      </ul>
    </nav>
    <div class="footer-social">
      <a href="#" aria-label="Facebook" target="_blank" rel="noreferrer">Facebook</a>
      <a href="#" aria-label="Twitter" target="_blank" rel="noreferrer">Twitter</a>
      <a href="#" aria-label="LinkedIn" target="_blank" rel="noreferrer">LinkedIn</a>
    </div>
    <address>
      123 avenue web 06600 Antibes<br />
      Email : <a href="mailto:lala@epitech.eu">lala@epitech.eu</a>
    </address>
  </div>
</footer>
